{
 :preferred-workflow :now
 :hidden []
 :default-templates {:journals ""}
 :ui/enable-tooltip? true
 :ui/show-full-blocks? false
 :ui/auto-expand-block-refs? true
 :feature/enable-block-timestamps? false
 :feature/enable-search-remove-accents? true
 :start-of-week 6
 :shortcuts {}
 :shortcut/doc-mode-enter-for-new-block? false
 :block/content-max-length 10000
 :ui/show-command-doc? true
 :ui/show-empty-bullets? false
 :query/views {:pprint (fn [r] [:pre.code (pprint r)])}
 :query/result-transforms
 {:sort-by-priority
  (fn [result] (sort-by (fn [h] (get h :block/priority "Z")) result))}
 :default-queries
 {:journals
  [{:title "🔨 NOW"
    :query [:find (pull ?h [*])
            :in $ ?start ?today
            :where
            [?h :block/marker ?marker]
            [(contains? #{"NOW" "DOING"} ?marker)]
            [?h :block/page ?p]
            [?p :block/journal? true]
            [?p :block/journal-day ?d]
            [(>= ?d ?start)]
            [(<= ?d ?today)]]
    :inputs [:14d :today]
    :result-transform (fn [result]
                        (sort-by (fn [h]
                                   (get h :block/priority "Z")) result))
    :group-by-page? false
    :collapsed? false}
   {:title "📅 NEXT"
    :query [:find (pull ?h [*])
            :in $ ?start ?next
            :where
            [?h :block/marker ?marker]
            [(contains? #{"NOW" "LATER" "TODO"} ?marker)]
            [?h :block/page ?p]
            [?p :block/journal? true]
            [?p :block/journal-day ?d]
            [(> ?d ?start)]
            [(< ?d ?next)]]
    :inputs [:today :7d-after]
    :group-by-page? false
    :collapsed? false}]}
 :commands []
 :outliner/block-title-collapse-enabled? false
 :macros {}
 :ref/default-open-blocks-level 2
 :ref/linked-references-collapsed-threshold 50
 :favorites []
 :property-pages/enabled? true
 :file/name-format :triple-lowbar
 :ignored-files ["venv" ".venv" "__pycache__" ".git" "node_modules"]
}
